[bumpversion]
current_version = 0.0.1.dev15
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?:\.(?P<release>[a-z]+)(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}.{release}{build}
	{major}.{minor}.{patch}
message = bump: {current_version} -> {new_version}

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod

[bumpversion:file:VERSION]

[bumpversion:file:mkdocs.yaml]
search = pyomarker documentation v{current_version}
replace = pyomarker documentation v{new_version}

[bumpversion:file:pyomarker/__init__.py]

[bumpversion:file:pyproject.toml]
