.flex-1 {
  flex-basis: 100%;
}
.text-centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
body {
  color: #000;
  font-family: var(--font-family-display, "Montserrat");
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: var(--typography-letter-spacing-default, 0px);
  margin: 0;
  padding: 0;
}
.parent-container{
  height: 100vh;
  max-height: 100vh;
  display: flex;
}
section {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
  justify-content: center;
}
img {
  width: 100%;
}
h1 {
  color: var(--color-text-heading, #000);
  margin: 0px;
  font-family: var(--font-family-display, "Montserrat");
  font-size: var(--typography-size-display-h2, 46px);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height-display-h2, 54px);
  letter-spacing: var(--font-letter-spacing-wide, 0.5px);
}

.full-background-img {
  margin: var(--scale-400);
  flex: 0 0 50%;
  align-self: stretch;
  border-radius: var(--border-radius-round, 48px);
  background-position: center;
  background-repeat: no-repeat;
}
/* side image */
/*TODO: Fix image import*/
.full-background-img.onboarding {
  background-image: url("https://cdn.startinblox.com/tems/register.png");
  background-size: contain;
  background-color: #000231;
}

/* Form related css */
.form-section {
  margin: var(--scale-400) 0px;
  box-sizing: content-box;
  padding: var(--scale-1600, 64px);
  display: flex;
  flex-direction: column;
  gap:  var(--scale-600, 24px);
  overflow: scroll;
}
.centered-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: var(--scale-1600, 64px);
  height: 100%;
}
.centered-content h1 {
  margin-bottom: var(--scale-400, 16px);
}
.centered-content .main-content {
  flex-grow: 1;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--scale-1200, 48px);
}
.centered-content i {
  display: block;
  margin-bottom: var(--scale-600, 24px);
}
.centered-content i svg {
  border-radius: var(--radius-lg, 10px);
  border: 2px solid var(--color-icon-success, #10b981);
  background: var(--color-surface-success, #d1faec);
  padding: 20px;
  fill: var(--color-icon-success, #10b981);
  width: 24px;
  height: 24px;
}
.section-bottom {
  align-content: flex-end;
}
form {
  display: flex;
  flex-direction: column;
  gap: var(--scale-600, 24px);
  font-family: var(--font-family-body, "Inter");
  font-size: var(--typography-size-body-md, 16px);
  line-height: var(--line-height-body-md, 26px);
  letter-spacing: var(--font-letter-spacing-default, 0px);
  font-style: normal;
}
form .required {
  color: var(--color-icon-error);
}
form ul.errorlist {
  color: var(--color-icon-error, #f04438);
  font-size: var(--typography-size-body-sm, 14px);
  line-height: var(--line-height-body-sm, 20px);
  list-style: none;
  margin: 0;
  padding: 0;
}
form .form-control {
  display: flex;
  flex-direction: column;
  gap: var(--scale-200);
}
form label {
  color: var(--color-text-body, #212630);
  font-weight: var(--font-weight-semibold, 600);
}
input {
  border: var(--border-width-sm, 1px) solid var(--color-border-primary, #ECEEF2);
  border-radius: var(--border-radius-md, 4px);
  padding: var(--scale-200, 8px) var(--scale-400, 16px);
  font-weight: var(--font-weight-regular, 400);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input::placeholder {
  color: var(--color-text-disable, #aebacb);
}
/* CTA's and buttons */
form .ctas {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
button[type="submit"],
.cta-action,
.cta-outline-gray {
  box-sizing: border-box;
  font-size: var(--typography-size-body-lg);
  line-height: var(--line-height-heading-h3);
  padding: var(--scale-300) var(--scale-600);
  height: 54px;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-semibold);
  align-content: center;
}
.optin {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--scale-200, 8px);
}

/* submit button */
button[type="submit"],
.cta-action {
  border: var(--border-width-sm) solid var(--color-surface-action-solid);
  background-color: var(--color-surface-action-solid);
  color: var(--color-text-action-on);
}
button[type="submit"]:hover {
  background-color: var(--color-surface-action-solid-hover);
}

button[type="submit"]:focus-visible {
  background-color: var(--color-surface-action-solid-hover);
}

button[type="submit"][disabled] {
  border-color: var(--color-surface-disabled);
}
.cta-outline-gray {
  border: var(--border-width-sm) solid var(--color-broder-primary, #eceef2);
  color: var(--color-text-body, #212630);
  width: fit-content;
  color: black;
  text-decoration: none;
}
.cta-outline-gray:hover {
  color: var(--color-surface-action-solid-hover);
  border-color: var(--color-surface-action-solid-hover);
}
