LocalInstallation
{
  TargetPath = /opt/dirac
  UseVersionsDir = True
  InstancePath = /opt/dirac
  InstallType = server
  RootPath = /opt/dirac/pro
  SiteName = DIRAC.hostname
  Extensions = WebApp
  Project = CTADIRAC
  WebPortal = yes
  WebApp = yes
  Host = <hostname>
  #Note: This service is only needed, if does not exist on the machine used to install the WebApp
  Services = Configuration/Server
  Services += Framework/SystemAdministrator
  UseServerCertificate = True
  SkipCADownload = True
  Setup = <Setup>
  ConfigurationName = <Configuration>
  ConfigurationMaster = no
  ConfigurationServer = dips://server.com:9135/Configuration/Server
  ConfigurationServer += dips://server.com:9135/Configuration/Server
}
DIRAC
{
  Setup = <Setup>
  Extensions = WebApp
  Hostname = <hostname>
  Configuration
  {
    Servers = dips://server.com:9135/Configuration/Server
    Servers += dips://server.com:9135/Configuration/Server
  }
  Security
  {
  }
  Setups
  {
    <Setup>
    {
      Configuration = <Setup>
      Framework = <Setup>
      WorkloadManagement = <Setup>
    }
  }
}
LocalSite
{
  Site = DIRAC.hostname
}
Systems
{
  NoSQLDatabases
  {
    Host = hostname
    Port = 9200
  }
  Configuration
  {
    <Setup>
    {
      Services
      {
        Server
        {
          HandlerPath = DIRAC/ConfigurationSystem/Service/ConfigurationHandler.py
          Port = 9135
        }
        URLs
        {
            Server = dips://server.com:9135/Configuration/Server
            Server += dips://server.com:9135/Configuration/Server
        }
      }
    }
  }
}
WebApp
{
  # If you don't want to use nginx, set to none:
  Balancer = nginx
  NumProcesses = 1
  DevelopMode = False
  StaticResourceLinkDir = /opt/dirac/webRoot/resources

  Schema
  {
    Help = link|http://dirac.readthedocs.io/en/latest/UserGuide/index.html
    Tools
    {
      Application Wizard = DIRAC.ApplicationWizard
      Job Launchpad = DIRAC.JobLaunchpad
      Notepad = DIRAC.Notepad
      Proxy Upload = DIRAC.ProxyUpload
    }
    Applications
    {
      Accounting = DIRAC.Accounting
      Activity Monitor = DIRAC.ActivityMonitor
      Component History = DIRAC.ComponentHistory
      Configuration Manager = DIRAC.ConfigurationManager
      Downtimes = DIRAC.Downtimes
      File Catalog = DIRAC.FileCatalog
      Job Monitor = DIRAC.JobMonitor
      Job Summary = DIRAC.JobSummary
      Pilot Monitor = DIRAC.PilotMonitor
      Pilot Summary = DIRAC.PilotSummary
      Proxy Manager = DIRAC.ProxyManager
      Public State Manager = DIRAC.PublicStateManager
      Registry Manager = DIRAC.RegistryManager
      Request Monitor = DIRAC.RequestMonitor
      Resource Summary = DIRAC.ResourceSummary
      Site Summary = DIRAC.SiteSummary
      Space Occupancy = DIRAC.SpaceOccupancy
      System Administration = DIRAC.SystemAdministration
      Transformation Monitor = DIRAC.TransformationMonitor
    }
    #ExampleApp = DIRAC.ExampleApp
    DIRAC = link|http://diracgrid.org
  }
}
