.md-document__print-layout {
    margin: 0;
    border: 0;
    width: 100%;
    display: block;
}
.md-document__print-layout td {
    padding: 0;
}

.md-document__print-layout > :is(thead, tbody, tfoot) > :is(th, tr) > td,
.md-document__print-layout > :is(thead, tbody, tfoot) > :is(th, tr),
.md-document__print-layout > :is(thead, tbody, tfoot) {
    padding: 0;
    display: block;
}

.md-document__header-space, .md-document__footer-space {
    display: none;
}

.md-document__header, .md-document__header-space {
    height: var(--md-document__header-content-height, 0);
}
.md-document__footer, .md-document__footer-space {
    height: calc(var(--md-document__footer-content-height, 0) + var(--md-document__footer-print-height, 0));
}
.md-document__footer-content {
    height: var(--md-document__footer-content-height, 0);
}
.md-document__header-content {
    height: var(--md-document__header-content-height, 0);
}

.md-document__header-content, .md-document__footer-content {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 44.9844em) {
    .md-document__main>.highlight {
        margin: 1em -.8rem;
    }
}

.md-document__footer-print, .md-document__print {
    display: none;
}
.md-document__footer-print-copyright {
    padding-top: 0.25rem;
    font-size: 0.75em;
}

@media print {
    .md-document__print-layout > :is(thead, tbody, tfoot) > :is(th, tr) > td,
    .md-document__print-layout > :is(thead, tbody, tfoot) > :is(th, tr),
    .md-document__print-layout > :is(thead, tbody, tfoot),
    .md-document__print-layout {
        display: revert-layer;
    }

    .md-document__header-space, .md-document__footer-space {
        display: block;
    }

    .md-document__header, .md-document__footer {
        position: fixed;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        width: calc(100% - var(--bs-gutter-x,.75rem)*2);
    }
    .md-document__header {
        top: 0;
    }
    .md-document__footer {
        bottom: 0;
    }
    .md-document__footer-print, .md-document__print {
        display: block;
    }
    .cover {
      /* Substract 1.5rem (if not, license image goes to different page) */
      height: calc(100vh - 1.5rem - var(--md-document__header-content-height, 0px) - var(--md-document__footer-content-height, 0px) - var(--md-document__footer-print-height, 0px));
    }
}
