.flex-1 {
  flex-basis: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: var(--font-family-display, "Montserrat");
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: var(--font-letter-spacing-default, 0px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
section {
  display: flex;
  flex-direction: row;
  height: 1024px;
  width: 1440px;
  max-height: 100%;
  max-width: 100%;
  gap: 0px 64px;
}
img {
  width: 100%;
  max-width: 100%;
}
h1 {
  color: var(--color-text-heading, #000);
  margin: 0px 0px var(--scale-600, 24px) 0px;
  font-family: var(--font-family-display, "Montserrat");
  font-size: var(--typography-size-display-h2, 46px);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height-display-h2, 54px);
  letter-spacing: var(--font-letter-spacing-wide, 0.5px);
}
section > div {
  flex: 0 0 45%;
  margin: 16px 0px;
}
.full-background-img {
  margin-left: 16px;
  max-width: 700px;
  align-self: stretch;
  border-radius: var(--border-radius-round, 48px);
  background-position: center;
  background-repeat: no-repeat;
}
/* side image - login */
.full-background-img.login {
  background-image: url("https://cdn.startinblox.com/tems/login.jpeg");
  background-size: cover;
}
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
}
.logos {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--scale-600);
  width: 200px;
  margin-bottom: var(--scale-800, 32px);
}
.powered-by {
  display: flex;
  gap: var(--scale-100, 4px);
  color: #000;
  text-align: center;
  font-family: var(--font-family-display, "Montserrat");
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: var(--typography-letter-spacing-default, 0px);
}
.powered-by img {
  width: 90px;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--scale-600, 24px);
  width: 100%;
  font-family: var(--typography-font-font-family-body, "Inter");
  font-size: var(--typography-size-body-md, 16px);
}
form .required {
  color: var(--color-icon-error);
}
form .form-control {
  display: flex;
  flex-direction: column;
  gap: var(--scale-200);
}
form label {
  color: var(--color-text-body, #212630);

  font-style: normal;
  font-weight: var(--font-weight-semibold, 600);
  line-height: var(--line-height-body-md, 26px); /* 162.5% */
  letter-spacing: var(--font-letter-spacing-default, 0px);
}
input {
  border: var(--border-width-sm, 1px) solid var(--color-border-primary, #eceef2);
  border-radius: var(--border-radius-md, 4px);
  padding: var(--scale-200, 8px) var(--scale-400, 16px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-weight: var(--font-weight-regular, 400);
  line-height: var(--line-height-body-md, 26px); /* 162.5% */
  letter-spacing: var(--font-letter-spacing-default, 0px);
}
input::placeholder {
  color: var(--color-text-disable, #aebacb);
}
/* line with forgot and submit */
form div.ctas {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
/* buttons */
form a,
button[type="submit"],
.cta-action {
  font-size: var(--typography-size-body-lg);
  line-height: var(--line-height-heading-h3);
  padding: var(--scale-300) var(--scale-600);
  height: 54px;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-semibold);
  align-content: center;
}

/* submit button */
button[type="submit"],
.cta-action {
  box-sizing: border-box;
  font-size: var(--typography-size-body-lg);
  line-height: var(--line-height-heading-h3);
  padding: var(--scale-300) var(--scale-600);
  height: 54px;
  border-radius: var(--border-radius-md);
  border: var(--border-width-sm) solid var(--color-surface-action-solid);
  background-color: var(--color-surface-action-solid);
  color: var(--color-text-action-on);
  cursor: pointer;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-semibold);
}
button[type="submit"]:hover {
  background-color: var(--color-surface-action-solid-hover);
}

button[type="submit"]:focus-visible {
  background-color: var(--color-surface-action-solid-hover);
}

button[type="submit"][disabled] {
  border-color: var(--color-surface-disabled);
}
/* forgot password */
form a {
  color: black;
  text-decoration: none;
}
form a:hover {
  color: var(--color-surface-action-solid-hover);
}
