[flask]
flask_env = development
debug = True
testing = True
secret_key = CHANGE ME

[server]
upload_folder = /tmp/simdb/simulations
ssl_enabled = True
authentication_type = None

[database]
type = sqlite
;file = {user_data_dir}/remote.db

[validation]
auto_validate = True
error_on_fail = True