:root {
  --md-admonition-icon--docs: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 96.44"><title>open-book</title><path d="M12,73.51q.2-34.74.39-69.38A3.21,3.21,0,0,1,15,1h0C23.4-.75,36.64-.31,45.63,3.14a35.46,35.46,0,0,1,16,11.65,37.34,37.34,0,0,1,16-11.15C86.12.4,99-.38,108.23,1A3.2,3.2,0,0,1,111,4.14h0V73.8A3.21,3.21,0,0,1,107.77,77a3.49,3.49,0,0,1-.74-.09A53.45,53.45,0,0,0,83.58,79.1a71,71,0,0,0-15.77,8.26,69.09,69.09,0,0,1,21.24-3.1,125.42,125.42,0,0,1,27.41,3.48V14.84h3.21a3.21,3.21,0,0,1,3.21,3.21V91.94a3.21,3.21,0,0,1-3.21,3.21,3.18,3.18,0,0,1-1-.17A121.77,121.77,0,0,0,89,90.65a61.89,61.89,0,0,0-25.76,5.26,3.39,3.39,0,0,1-3.64,0,61.86,61.86,0,0,0-25.76-5.26A121.77,121.77,0,0,0,4.24,95a3.18,3.18,0,0,1-1,.17A3.21,3.21,0,0,1,0,91.94V18.05a3.21,3.21,0,0,1,3.21-3.21H6.42v72.9a125.42,125.42,0,0,1,27.41-3.48,68.84,68.84,0,0,1,22.71,3.57A48.7,48.7,0,0,0,41,79.39c-7-2.3-17.68-3.07-25.49-2.4A3.21,3.21,0,0,1,12,74.06a5,5,0,0,1,0-.55ZM73.64,64.4a2.3,2.3,0,1,1-2.5-3.85,51.46,51.46,0,0,1,11.8-5.4,53.73,53.73,0,0,1,13-2.67,2.29,2.29,0,1,1,.25,4.58,49.42,49.42,0,0,0-11.79,2.46A46.73,46.73,0,0,0,73.64,64.4Zm.2-17.76a2.29,2.29,0,0,1-2.46-3.87,52.71,52.71,0,0,1,11.74-5.3A54.12,54.12,0,0,1,95.9,34.85a2.3,2.3,0,0,1,.25,4.59,49.3,49.3,0,0,0-11.63,2.4,48,48,0,0,0-10.68,4.8Zm.06-17.7a2.3,2.3,0,1,1-2.46-3.89,52.54,52.54,0,0,1,11.72-5.27,53.71,53.71,0,0,1,12.74-2.6,2.29,2.29,0,1,1,.25,4.58,49.35,49.35,0,0,0-11.59,2.39A47.91,47.91,0,0,0,73.9,28.94ZM51.74,60.55a2.3,2.3,0,1,1-2.5,3.85,46.73,46.73,0,0,0-10.72-4.88,49.42,49.42,0,0,0-11.79-2.46A2.29,2.29,0,1,1,27,52.48a53.73,53.73,0,0,1,13,2.67,51.46,51.46,0,0,1,11.8,5.4ZM51.5,42.77A2.29,2.29,0,0,1,49,46.64a48,48,0,0,0-10.68-4.8,49.3,49.3,0,0,0-11.63-2.4A2.3,2.3,0,0,1,27,34.85a54.12,54.12,0,0,1,12.78,2.62,52.71,52.71,0,0,1,11.74,5.3Zm-.06-17.72A2.3,2.3,0,1,1,49,28.94a47.91,47.91,0,0,0-10.66-4.79,49.35,49.35,0,0,0-11.59-2.39A2.29,2.29,0,1,1,27,17.18a53.71,53.71,0,0,1,12.74,2.6,52.54,52.54,0,0,1,11.72,5.27ZM104.56,7c-7.42-.7-18.06.12-24.73,2.65A30,30,0,0,0,64.7,21.46V81.72a76.76,76.76,0,0,1,16.72-8.66,62.85,62.85,0,0,1,23.14-2.87V7ZM58.28,81.1V21.37c-3.36-5.93-8.79-9.89-14.93-12.24-7-2.67-17.75-3.27-24.56-2.3l-.36,63.56c7.43-.27,17.69.68,24.52,2.91a54.94,54.94,0,0,1,15.33,7.8Z"/></svg>');
  --md-admonition-icon--spoiler: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 2H4c-.53 0-1.04.21-1.41.59C2.21 2.96 2 3.47 2 4v12c0 .53.21 1.04.59 1.41.37.38.88.59 1.41.59h4l4 4 4-4h4c.53 0 1.04-.21 1.41-.59S22 16.53 22 16V4c0-.53-.21-1.04-.59-1.41C21.04 2.21 20.53 2 20 2m-9.95 4.04c.54-.36 1.25-.54 2.14-.54.94 0 1.69.21 2.23.62.54.42.81.98.81 1.68 0 .44-.15.83-.44 1.2-.29.36-.67.64-1.13.85-.26.15-.43.3-.52.47-.09.18-.14.4-.14.68h-2c0-.5.1-.84.29-1.08.21-.24.55-.52 1.07-.84.26-.14.47-.32.64-.54.14-.21.22-.46.22-.74 0-.3-.09-.52-.27-.69-.18-.18-.45-.26-.76-.26-.27 0-.49.07-.69.21-.16.14-.26.35-.26.63H9.27c-.05-.69.23-1.29.78-1.65M11 14v-2h2v2Z"/></svg>');
  --md-admonition-icon--important: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg>');
  --md-admonition-icon--notice: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2c0 0 0 0 0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4c0 0 0 0 0 0c19.8 27.1 39.7 54.4 49.2 86.2l160 0zM192 512c44.2 0 80-35.8 80-80l0-16-160 0 0 16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/></svg>');
  --md-admonition-icon--prep: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32l224 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-224 0c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32l224 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-224 0c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32l288 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-288 0c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>');
  --md-admonition-icon--recommend: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23 10a2 2 0 0 0-2-2h-6.32l.96-4.57c.02-.1.03-.21.03-.32 0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.58C7.22 7.95 7 8.45 7 9v10a2 2 0 0 0 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73zM1 21h4V9H1z"/></svg>');
  --md-admonition-icon--picture: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><script xmlns="http://www.w3.org/1999/xhtml" src="chrome-extension://fgddmllnllkalaagkghckoinaemmogpe/scripts/content/gps.js"></script><path d="M16 13.25A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25V2.75C0 1.784.784 1 1.75 1h12.5c.966 0 1.75.784 1.75 1.75ZM1.75 2.5a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h.94l.03-.03 6.077-6.078a1.75 1.75 0 0 1 2.412-.06L14.5 10.31V2.75a.25.25 0 0 0-.25-.25Zm12.5 11a.25.25 0 0 0 .25-.25v-.917l-4.298-3.889a.25.25 0 0 0-.344.009L4.81 13.5ZM7 6a2 2 0 1 1-3.999.001A2 2 0 0 1 7 6M5.5 6a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0"/></svg>');

  --md-admonition-color--info: 0, 184, 212;
  --md-admonition-color--docs: 158, 158, 158;
  --md-admonition-color--spoiler: 255, 23, 68;
  --md-admonition-color--success: 0, 200, 83;
  --md-admonition-color--important: 100, 221, 23;
  --md-admonition-color--notice: 255, 223, 0;
  --md-admonition-color--picture: 213, 184, 149;
}

/* Original appearance */
.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

.md-typeset .admonition.docs,
.md-typeset details.docs {
  border-color: rgb(var(--md-admonition-color--docs));
}
.md-typeset .admonition.docs:focus-within,
.md-typeset details.docs:focus-within {
    box-shadow: 0 0 0 .2rem rgba(var(--md-admonition-color--docs), 0.1);
}
.md-typeset .docs > .admonition-title,
.md-typeset .docs > summary {
  background-color: rgba(var(--md-admonition-color--docs), 0.1);
}
.md-typeset .docs > .admonition-title::before,
.md-typeset .docs > summary::before {
  background-color: rgb(var(--md-admonition-color--docs));
  -webkit-mask-image: var(--md-admonition-icon--docs);
          mask-image: var(--md-admonition-icon--docs);
}


.md-typeset .admonition.spoiler,
.md-typeset details.spoiler {
  border-color: rgb(var(--md-admonition-color--spoiler));
}
.md-typeset .admonition.spoiler:focus-within,
.md-typeset details.spoiler:focus-within {
    box-shadow: 0 0 0 .2rem rgba(var(--md-admonition-color--spoiler), 0.1);
}
.md-typeset .spoiler > .admonition-title,
.md-typeset .spoiler > summary {
  background-color: rgba(var(--md-admonition-color--spoiler), 0.1);
}
.md-typeset .spoiler > .admonition-title::before,
.md-typeset .spoiler > summary::before {
  background-color: rgb(var(--md-admonition-color--spoiler));
  -webkit-mask-image: var(--md-admonition-icon--spoiler);
          mask-image: var(--md-admonition-icon--spoiler);
}


.md-typeset .admonition.solution,
.md-typeset details.solution,
.md-typeset .admonition.recommend,
.md-typeset details.recommend {
  border-color: rgb(var(--md-admonition-color--success));
}
.md-typeset .admonition.solution:focus-within,
.md-typeset details.solution:focus-within,
.md-typeset .admonition.recommend:focus-within,
.md-typeset details.recommend:focus-within {
    box-shadow: 0 0 0 .2rem rgba(var(--md-admonition-color--success), 0.1);
}
.md-typeset .solution > .admonition-title,
.md-typeset .solution > summary,
.md-typeset .recommend > .admonition-title,
.md-typeset .recommend > summary {
  background-color: rgba(var(--md-admonition-color--success), 0.1);
}
.md-typeset .solution > .admonition-title::before,
.md-typeset .solution > summary::before {
  background-color: rgb(var(--md-admonition-color--success));
  -webkit-mask-image: var(--md-admonition-icon--success);
          mask-image: var(--md-admonition-icon--success);
}
.md-typeset .recommend > .admonition-title::before,
.md-typeset .recommend > summary::before {
  background-color: rgb(var(--md-admonition-color--success));
  -webkit-mask-image: var(--md-admonition-icon--recommend);
          mask-image: var(--md-admonition-icon--recommend);
}


.md-typeset .admonition.important,
.md-typeset details.important {
  border-color: rgb(var(--md-admonition-color--important));
}
.md-typeset .admonition.important:focus-within,
.md-typeset details.important:focus-within {
    box-shadow: 0 0 0 .2rem rgba(var(--md-admonition-color--important), 0.1);
}
.md-typeset .important > .admonition-title,
.md-typeset .important > summary {
  background-color: rgba(var(--md-admonition-color--important), 0.1);
}
.md-typeset .important > .admonition-title::before,
.md-typeset .important > summary::before {
  background-color: rgb(var(--md-admonition-color--important));
  -webkit-mask-image: var(--md-admonition-icon--important);
          mask-image: var(--md-admonition-icon--important);
}


.md-typeset .admonition.notice,
.md-typeset details.notice {
  border-color: rgb(var(--md-admonition-color--notice));
}
.md-typeset .admonition.notice:focus-within,
.md-typeset details.notice:focus-within {
    box-shadow: 0 0 0 .2rem rgba(var(--md-admonition-color--notice), 0.1);
}
.md-typeset .notice > .admonition-title,
.md-typeset .notice > summary {
  background-color: rgba(var(--md-admonition-color--notice), 0.1);
}
.md-typeset .notice > .admonition-title::before,
.md-typeset .notice > summary::before {
  background-color: rgb(var(--md-admonition-color--notice));
  -webkit-mask-image: var(--md-admonition-icon--notice);
          mask-image: var(--md-admonition-icon--notice);
}


.md-typeset .admonition.prep,
.md-typeset details.prep {
  border-color: rgb(var(--md-admonition-color--info));
}
.md-typeset .admonition.prep:focus-within,
.md-typeset details.prep:focus-within {
    box-shadow: 0 0 0 .2rem rgba(var(--md-admonition-color--info), 0.1);
}
.md-typeset .prep > .admonition-title,
.md-typeset .prep > summary {
  background-color: rgba(var(--md-admonition-color--info), 0.1);
}
.md-typeset .prep > .admonition-title::before,
.md-typeset .prep > summary::before {
  background-color: rgb(var(--md-admonition-color--info));
  -webkit-mask-image: var(--md-admonition-icon--prep);
          mask-image: var(--md-admonition-icon--prep);
}


.md-typeset .admonition.picture,
.md-typeset details.picture {
  border-color: rgb(var(--md-admonition-color--picture));
}
.md-typeset .admonition.picture:focus-within,
.md-typeset details.picture:focus-within {
    box-shadow: 0 0 0 .2rem rgba(var(--md-admonition-color--picture), 0.1);
}
.md-typeset .picture > .admonition-title,
.md-typeset .picture > summary {
  background-color: rgba(var(--md-admonition-color--picture), 0.1);
}
.md-typeset .picture > .admonition-title::before,
.md-typeset .picture > summary::before {
  background-color: rgb(var(--md-admonition-color--picture));
  -webkit-mask-image: var(--md-admonition-icon--picture);
          mask-image: var(--md-admonition-icon--picture);
}
