.difficulty.basic svg .needle {
    transform-box: view-box;
    transform-origin: 50px 50px;
    transform: rotate(-40deg);
}
.difficulty.easy svg .needle {
    transform-box: view-box;
    transform-origin: 50px 50px;
    transform: rotate(45deg);
}
.difficulty.intermediate svg .needle {
    transform-box: view-box;
    transform-origin: 50px 50px;
    transform: rotate(90deg);
}
.difficulty.advanced svg .needle {
    transform-box: view-box;
    transform-origin: 50px 50px;
    transform: rotate(135deg);
}
.difficulty.expert svg .needle {
    transform-box: view-box;
    transform-origin: 50px 50px;
    transform: rotate(180deg);
}
.difficulty.extreme svg .needle {
    transform-box: view-box;
    transform-origin: 50px 50px;
    transform: rotate(225deg);
}
.difficulty.basic svg .meter {
    fill: #8bc34b;
}
.difficulty.initial svg .meter {
    fill: #4cae4f;
}
.difficulty.intermediate svg .meter {
    fill: #ffec3d;
}
.difficulty.advanced svg .meter {
    fill: #ffc105;
}
.difficulty.expert svg .meter {
    fill: #ef5552;
}
.difficulty.extreme svg .meter {
    fill: #c40050;
}
