.language-shellconsole.highlight {
  --md-code-hl-generic-color: #D8DEE9;
  font-size: 0.75rem;
}

/*
.language-shellconsole.highlight pre {
  line-height: 1.25;
}
*/

.language-shellconsole.highlight code.md-code__content {
  color: var(--md-code-hl-generic-color);
  background-color: #2E3440;
}

.language-shellconsole.highlight .gh,
.language-shellconsole.highlight .p,
.language-shellconsole.highlight .go {
  color: #D8DEE9ee;
}
.language-shellconsole.highlight .gu {
  color: #88C0D0;
}
.language-shellconsole.highlight .gi {
  color: #A3BE8C;
  background-color: unset;
}
.language-shellconsole.highlight .gd {
  color: #BF616A;
  background-color: unset;
}

.language-shellconsole.highlight .o,
.language-shellconsole.highlight .nv,
.language-shellconsole.highlight .nb {
  color: #B48EAD;
}

.language-shellconsole.highlight .gp-uh,
.language-shellconsole.highlight .gp-d,
.language-shellconsole.highlight .gp-gb {
  font-weight: bold;
}
.language-shellconsole.highlight .gp,
.language-shellconsole.highlight .gp-w,
.language-shellconsole.highlight .gp-ve,
.language-shellconsole.highlight .gp-uh,
.language-shellconsole.highlight .gp-d,
.language-shellconsole.highlight .gp-gb {
  font-weight: bold;
  user-select: none;
}

.language-shellconsole.highlight .gp-uh,
.language-shellconsole.highlight .s2 {
  color: #A3BE8C;
}
.language-shellconsole.highlight .gp-d {
  color: #81A1C1;
}
.language-shellconsole.highlight .gp-gb {
  color: #EBCB8B;
}

.language-shellconsole.highlight .git-bl,
.language-shellconsole.highlight .git-untr,
.language-shellconsole.highlight .git-unm,
.language-shellconsole.highlight .git-rb,
.language-shellconsole.highlight .git-rh,
.language-shellconsole.highlight .git-mod,
.language-shellconsole.highlight .git-fatal {
  color: #BF616A;
}
.language-shellconsole.highlight .git-ch {
  color: #81A1C1;
}
.language-shellconsole.highlight .git-cd,
.language-shellconsole.highlight .git-b,
.language-shellconsole.highlight .git-stg {
  color: #A3BE8C;
}
.language-shellconsole.highlight .git-ca {
  color: #D8DEE98a;
}
.language-shellconsole.highlight .git-hint,
.language-shellconsole.highlight .git-show-h,
.language-shellconsole.highlight .git-t,
.language-shellconsole.highlight .git-r {
  color: #EBCB8B;
}
.language-shellconsole.highlight .git-h {
  color: #88C0D0;
}
.language-shellconsole.highlight .c {
  color: #576279;
}
