 

:root {
    --md-primary-fg-color: #3c75a4;
    --md-accent-fg-color: #406499;
}

.md-content a {
    font-weight: bold;
}

/* Support images with figures */
figure {
    padding-left: 48px;
    display: inline-block;
    margin: 16px 0;
}

figure img {
    margin: 0 !important;
}

figure figcaption {
    text-align: center;
    font-size: 0.8em;
}
