#
# default config file for quizml
# this is a YAML file (https://en.wikipedia.org/wiki/YAML)
#
# IMPORTANT: SO NOT USE TAB, USE SPACES!!! (http://yaml.org/faq.html)
#

# version of the quizml
version: 0.9

# list of targets:
#   you can add/delete/modify this list

schema_path: schema.json

stats_template: stats.txt.j2

# default_targets:
#   - bb
#   - html-preview

targets:

# target #1
  - out       : ${inputbasename}.txt     # template for outputfilename.
                                         # ${inputbasename} refers to the basename of the quiz
                                         # (eg. mcq-01.yaml => mcq-01)

    descr     : BlackBoard CSV           # description for the target.
    name      : bb                       # name of that target (id)

    descr_cmd : ${inputbasename}.txt     # command to use (here we
                                         # have no suggestion, so just
                                         # print output path)

    fmt       : html-svg                 # latex, html, svg, html-mathml: format that markdown gets converted to
    html_pre  : math-preamble.tex        # latex preamble for generating the equations in the markdown > html conversion

    html_css  : markdown-html.css        # CSS used for inline styling the HTML render.
                                         # e.g. it can be used to stye <code></code>, tables, line separation, etc.

    template  : blackboard.txt.j2        # filename for the jinja template used
                                         # if relative path, the application will try, in order:
                                         #   1) the local dir              
                                         #   2) the default config dir 
                                         #   3) the package templates dir
                                         # eg. on my mac:
                                         #   ./blackboard.txt.j2
                                         #   ~/Library/Application\ Support/quizml/blackboard.txt.j2
                                         #   ~/Library/Python/3.9/lib/python/site-packages/quizml/templates/blackboard.txt.j2
                                         # if absolute path, the application only try the absolute path

# target #2
  - out       : ${inputbasename}.html
    descr     : html preview
    name      : html-preview
    html_pre  : math-preamble.tex
    html_css  : markdown-html.css
    descr_cmd : ${inputbasename}.html
    fmt       : html-svg
    template  : preview.html.j2

# target #3
  - out       : ${inputbasename}.tex
    descr     : latex
    name      : latex
    descr_cmd : latexmk -xelatex -pvc ${inputbasename}.tex
    fmt       : latex
    template  : tcd-exam.tex.j2

# target #4
  - out       : ${inputbasename}.solutions.tex
    descr     : latex solutions  
    name      : latex-solutions
    descr_cmd : latexmk -xelatex -pvc ${inputbasename}.solutions.tex
    fmt       : latex
    template  : tcd-exam-solutions.tex.j2

# target #5 -- post build from Target #3
  - out       : ${inputbasename}.pdf
    descr     : latex build
    name      : pdf
    dep       : latex
    descr_cmd : ${inputbasename}.pdf
    build_cmd : latexmk -xelatex -interaction=nonstopmode ${inputbasename}.tex

# target #6 -- post build from Target #4
  - out       : ${inputbasename}.solutions.pdf
    descr     : latex solutions build
    name      : pdf-solutions
    dep       : latex-solutions
    descr_cmd : ${inputbasename}.solutions.pdf
    build_cmd : latexmk -xelatex -interaction=nonstopmode ${inputbasename}.solutions.tex