.alert.simple-alert{
    background-color: #ff000000;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    padding:  11px 15px;
}

.simple-alert-icon{
    padding: 0.6rem;
    border-radius: 0.375rem;
    background-color: var(--bs-alert-bg);
    color: var(--bs-alert-color);
}
