/*
 * Base structure
 */

.popover{
    max-width: 80%;
}

label > label,
.btn > label {
    margin-bottom: 0;
}

.mentat-logo-mini {
  display: inline-block !important;
  height: 50px;
  margin-top: -8px;
  margin-bottom: -5px;
}

.jumbotron {
    border-radius: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 30px;
    color: inherit;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.btn-outline-tertiary {
    --bs-btn-color: #000;
    --bs-btn-border-color: var(--bs-border-color);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: var(--bs-border-color);
    --bs-btn-hover-border-color: var(--bs-border-color);
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--bs-border-color);
    --bs-btn-active-border-color: var(--bs-border-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-border-color);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-border-color);
    --bs-gradient: none;
}

/* AJAX loader */
#ajax-loader-overlay {
    display: none;
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#ajax-loader {
    position: fixed;
    color: #000000;
    left: 50%;
    top: 45%;
    z-index: 10000;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* Custom styles for nested menu dropdowns */
.navbar-nav .dropdown-submenu .dropdown-menu:hover,
.navbar-nav .dropdown-submenu .dropdown-item:hover + .dropdown-menu {
    display: block;
}
.dropdown-submenu .dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.dropdown-submenu .dropdown-submenu .dropdown-menu-right {
    left: auto;
    right: 100%;
}

/******************************************
 * Page footer
 ******************************************/

#footer {
    vertical-align: top;
    text-align: right;
    font-size: 0.9em;
}

.footer-logo {
    max-height: 3rem;
}

.footer-logo.large {
    max-height: 8rem;
}

#footer a, #footer a:visited {
    vertical-align: top;
    color: [% site.colsch.col8 %];
    text-decoration: none;
}
#footer a:hover {
    color: [% site.colsch.col8 %];
    text-decoration: underline;
}

.rrd-button-group {
    padding-left: 1em !important;
    padding-bottom: 1em !important;
}

/*
 * Implement hover functionality for list group items.
 * */
.list-group-hover .list-group-item:hover {
    background-color: #f5f5f5;
}
.list-group-hover .list-group-item:hover pre {
    background-color: #ffffff;
}

.content-maxheight {
    min-height: 15em;
    max-height: 15em;
    overflow: auto;
}

.underlined-tooltip {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.tab-tag {
    display: inline-block;
    width: 1.5rem;
    text-align: left;
}

/* Change the default width of the datetime picker box. */
.tempus-dominus-widget {
    width: 25rem;
}

/* monaco-editor */
.monaco-container {
    height: 10em;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
}

.monaco-error-meta {
    display: none;
}

/*******************************************************************************

    Custom style for timeline dataset tables.

    These tables are displayed on various views next to the timeline charts and
    contain chart data in tabular form.

*******************************************************************************/

/* Make sure lat table column containinig sum of all row data has default background. */
.table-dataset-timeline thead tr th:last-child {
    background-color: inherit !important;
}
/* Align all numbers to the right for better readability. */
.table-dataset thead tr th:not(:first-child),
.table-dataset tbody tr td:not(:first-child),
.table-dataset tfoot tr td:not(:first-child) {
    text-align: right;
}
/* Separate calculated statistical data in table footer from the dataset. */
.table-dataset tfoot tr:first-child td {
    /*border-top: 2px solid black !important;*/
    border-top-width: 5px !important;
}
/* Separate calculated sum column from the rest of the row. */
.table-dataset-timeline thead tr th:last-child,
.table-dataset-timeline tbody tr td:last-child,
.table-dataset-timeline tfoot tr td:last-child {
    /*border-left: 2px solid black !important;*/
    border-left-width: 3px !important;
}
/* Make sure that the calculated statistical data in table footer stands out. */
.table-dataset tfoot tr td:not(:first-child) {
    font-style: oblique;
}
.table-dataset tfoot tr {
    background-color: #f5f5f5;
}
.table-dataset tfoot tr td:first-child {
    font-weight: bold;
}

.nav-tabs-inner {
    padding-left: 1em;
    padding-right: 1em;
}
/* Margin for divs in text report messages  */
.report-message {
    margin-bottom: 1.5em;
}

.table-event-detail-node {
    margin-bottom: 0 !important;
}
.table-event-detail-node > tbody > tr > th {
    width: 3em;
}
.table-event-detail-node > tbody > tr:first-child > th,
.table-event-detail-node > tbody > tr:first-child > td {
    border-top: 0 !important;
}

/* Custom styles for additional data labels */
.object-additional-data,
.popover-hover-container,
.object-additional-data > .query-result,
.object-additional-data > .query-result > .popover-hover,
.popover-hover-container > .popover-hover {
    display: inline-block;
}
.object-additional-data .query-result:not(:first-child),
.object-additional-data .query-result .popover-hover:not(:first-child) {
    margin-left: 3px;
}
.popover-hover-container .popover-content {
    max-height: 20em;
    padding: 0.5rem;
    overflow-y: auto;
}
.popover-hover-container .popover-title,
.popover-hover-container .popover-content,
.popover-hover-container .popover-content > p,
.popover-hover-container .popover-content > pre
{
    font-size: x-small;
}

/* In order for the popover content not to peek out from the
corners of the popover, it is necessary to have the
overflow: hidden; however it is not possible to use it on
the entire popover as it would also hide the popover arrow. */
.popover-content-outer {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
}

.popover-hover-container .popover-content .table
{
    margin-bottom: 0;
}
.popover-hover-container .popover .popover-title {
    background-color: #d9edf7;
    margin-bottom: 0;
    padding: 0.5rem;
}

/* Note: The static popover class is added dynamically by JavaScript. */
.static-popover .popover .popover-title {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.static-popover[data-popper-placement^='top'] .popover-arrow {
    bottom: calc(-1 * (var(--bs-popover-arrow-height)) - var(--bs-popover-border-width));
}

.static-popover[data-popper-placement^='bottom'] .popover-arrow {
    top: calc(-1 * (var(--bs-popover-arrow-height)) - var(--bs-popover-border-width));
}

.static-popover[data-popper-placement^=top] .popover-arrow::before {
    bottom: 0;
    border-top-color: var(--bs-popover-arrow-border);
}

.static-popover[data-popper-placement^=bottom] .popover-arrow::before {
    top: 0;
    border-bottom-color: var(--bs-popover-arrow-border);
}

.static-popover[data-popper-placement^=top] .popover-arrow::before, .static-popover[data-popper-placement^=top] .popover-arrow::after {
    border-width: var(--bs-popover-arrow-height) calc(var(--bs-popover-arrow-width) * .5) 0;
}

.static-popover[data-popper-placement^=bottom] .popover-arrow::before, .static-popover[data-popper-placement^=bottom] .popover-arrow::after {
    border-width: 0 calc(var(--bs-popover-arrow-width) * .5) var(--bs-popover-arrow-height);
}

.static-popover[data-popper-placement^=top] .popover-arrow::after {
    bottom: var(--bs-popover-border-width);
    border-top-color: var(--bs-popover-bg);
}

.static-popover[data-popper-placement^=bottom] .popover-arrow::after {
    top: var(--bs-popover-border-width);
    border-bottom-color: #d9edf7;
}

.static-popover .popover {
    position: relative;
    display: block;
    max-width: 100%;
}
.static-popover,
.popover-hover {
    z-index: 2;
}

.spinner-large {
    width: 4rem;
    height: 4rem;
}

.form-help .popover {
    max-width: 300px;
}

.query-scroll:hover {
    overflow-x: auto;
}

.query-scroll {
    height: 2.5rem;
    max-width: 800px;
    white-space: nowrap;
    overflow-x: hidden;
}

/* enable slow transition from disabled for timeline reload buttons */
.tab-reload-btn {
    transition: opacity 0.3s ease-out;
}

.tab-reload-btn.disabled {
    transition-duration: 0ms;
}

.badge .flag-img {
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.table-narrow {
    border-collapse: collapse;
    table-layout: fixed;
}

/* style for the top headers row */
.table-narrow thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 20;
}

/* style for all header cells */
.table-narrow thead th {
    height: 12rem;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    min-width: 3rem
}

/* the div inside the top header, used for rotating the text */
.table-narrow thead div {
    transform: rotate(-90deg) translateY(50%);
    transform-origin: left bottom;

    position: absolute;
    left: 50%;
    bottom: 0.5rem;
    white-space: nowrap;
    text-align: left;
    max-width: 12rem;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* row headers */
.table-narrow tbody tr th {
    position: sticky;
    left: 0;
    background: var(--bs-body-bg);
    z-index: 10;
    height: 3rem;
    padding-right: 0.5rem;

    text-align: right;
}

.table-narrow thead th:first-child {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 30;
    background: var(--bs-body-bg);
}

.table-narrow tbody td {
    text-align: center;
    vertical-align: middle;
    width: max-content;
    padding: 0.25rem;
}

.table-narrow .total-header {
    color: #6c757d;
}

.breakable-code-snippet > code {
    white-space: pre;
    display: inline-block;
}

/* Syntax highlighting from https://github.com/richleland/pygments-css */
.highlight .hll { background-color: #ffffcc }
.highlight { background: #f8f9fa; }
.highlight pre { margin: 0rem; padding: 0.25rem; }
.highlight .c { color: #8f5902; font-style: italic } /* Comment */
.highlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.highlight .g { color: #000000 } /* Generic */
.highlight .k { color: #204a87; font-weight: bold } /* Keyword */
.highlight .l { color: #000000 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.highlight .x { color: #000000 } /* Other */
.highlight .p { color: #000000; font-weight: bold } /* Punctuation */
.highlight .ch { color: #8f5902; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #8f5902; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a40000 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic } /* Generic.Output */
.highlight .gp { color: #8f5902 } /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #000000 } /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.highlight .s { color: #4e9a06 } /* Literal.String */
.highlight .na { color: #c4a000 } /* Name.Attribute */
.highlight .nb { color: #204a87 } /* Name.Builtin */
.highlight .nc { color: #000000 } /* Name.Class */
.highlight .no { color: #000000 } /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ce5c00 } /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #000000 } /* Name.Function */
.highlight .nl { color: #f57900 } /* Name.Label */
.highlight .nn { color: #000000 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.highlight .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
.highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.highlight .sa { color: #4e9a06 } /* Literal.String.Affix */
.highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06 } /* Literal.String.Char */
.highlight .dl { color: #4e9a06 } /* Literal.String.Delimiter */
.highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.highlight .se { color: #4e9a06 } /* Literal.String.Escape */
.highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06 } /* Literal.String.Other */
.highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #000000 } /* Name.Function.Magic */
.highlight .vc { color: #000000 } /* Name.Variable.Class */
.highlight .vg { color: #000000 } /* Name.Variable.Global */
.highlight .vi { color: #000000 } /* Name.Variable.Instance */
.highlight .vm { color: #000000 } /* Name.Variable.Magic */
.highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */

div .query pre {
    background: white;
}

/* Fix the offset of the first row when button group is wrapped across multiple rows */
.btn-group.flex-wrap > .btn {
    margin-left: -1px;
}
