[buildout]
extends =
    https://raw.githubusercontent.com/IMIO/buildout.pm/master/communes-dev.cfg

parts =
    zeoserver
    instance1
    code-analysis
    test
    coverage
    report
    omelette

develop = .

eggs =
    ipdb
    imio.pm.wsclient

[instance1]
zcml +=
    imio.pm.wsclient

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = src/imio
flake8-ignore = E123,E124,E501,E126,E127,E128,W391
flake8-max-line-length = 119

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ipdb
    Products.PloneMeeting [test]
    imio.pm.wsclient [test]

environment = testenv
initialization =
    sys.argv = sys.argv[:] + ['-s', 'imio.pm.wsclient']

[testenv]
zope_i18n_compile_mo_files = true

# create bin/coverage commant
[coverage]
recipe = zc.recipe.egg
eggs = coverage

# create bin/report command
[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
    sys.argv = sys.argv[:] + ['html', '-i']

[versions]
imio.pm.wsclient =
gnureadline = 8.1.2
