.container {
   margin: 0 auto;
    background: white;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.header {
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.company-name {
    font-size: 16px;
    font-weight: bold;
}
.document-title {
    font-size: 14px;
    margin-top: 2px;
    font-weight: bold;
}
 .master-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.master-table td {
    padding: 5px 3px;
    vertical-align: top;
}
.info-label {
    font-weight: bold;
    color: #333;
    width: 100px;
    white-space: nowrap;
}
.info-value {
    color: #555;
    word-break: break-all;
}
.products-container {
    overflow-x: auto;
    margin: 10px 0;
}
.products-table {
    width: 100%;
    border-collapse: collapse;
}
.products-table th {
    padding: 5px 2px;
    text-align: center;
    border: 1px solid #ddd;
}
.products-table td {
    padding: 5px 2px;
    text-align: center;
    border: 1px solid #ddd;
}