details, .admonition {
    border-radius: var(--border-radius-md);
    border-style: solid;
    border-width: var(--border-width-sm);
    margin: var(--padding-md) auto;
    padding: var(--padding-md);
    width: 75%;
}

.admonition {
    display: flex;
    flex-direction: column;
}

details > summary:before, .admonition-title:before {
    align-items: center;
    display: inline-flex;
    font-family: "bootstrap-icons";
    padding-right: var(--padding-sm);
}

details > summary, .admonition-title {
    align-items: center;
    display: flex;
    font-weight: 550;
}

.admonition-title {
    margin: 0 !important;
}

details > summary + p, .admonition > p {
    margin-top: var(--padding-sm);
    margin-bottom: var(--padding-sm);
}

details > summary + p:last-of-type, .admonition > p:last-of-type {
    margin-bottom: 0 !important;
}

/* Admonition Colors */

/* Orange */
details.warning, div.warning {
    background-color: var(--bg-warning);
    border-color: var(--border-warning);
}

details.warning > summary:before, .warning .admonition-title:before {
    color: var(--text-warning) !important;
}

.warning .admonition-title, details.warning > summary {
    color: var(--text-warning) !important;
}

/* Red */
details.important, div.important,
details.error, div.error,
details.danger, div.danger {
    background-color: var(--bg-danger);
    border-color: var(--border-danger);
}

details.important > summary:before, .important .admonition-title:before,
details.error > summary:before, .error .admonition-title:before,
details.danger > summary:before, .danger .admonition-title:before {
    color: var(--text-danger) !important;
}

.important .admonition-title, details.important > summary,
.error .admonition-title, details.error > summary,
.danger .admonition-title, details.danger > summary {
    color: var(--text-danger) !important;
}


/* Blue */
details.task, div.task {
    background-color: var(--bs-info-bg-subtle) !important;
    border-color: var(--bs-info-border-subtle) !important;
}

details.task > summary:before, .task .admonition-title:before {
    color: var(--bs-info-text-emphasis) !important;
}

.task .admonition-title, details.task > summary {
    color: var(--bs-info-text-emphasis) !important;
}

/* Purple */
details.hint, div.hint,
details.note, div.note,
details.tip, div.tip {
    background-color: var(--bg-info) !important;
    border-color: var(--border-info) !important;
}

details.hint > summary:before, .hint .admonition-title:before,
details.note > summary:before, .note .admonition-title:before,
details.tip > summary:before, .tip .admonition-title:before {
    color: var(--text-info) !important;
}

.hint .admonition-title, details.hint > summary,
.note .admonition-title, details.note > summary,
.tip .admonition-title, details.tip > summary {
    color: var(--text-info) !important;
}

/* Green */
details.solution, div.solution {
    background-color: var(--bg-solution) !important;
    border-color: var(--border-solution) !important;
}

details.solution > summary:before, .solution .admonition-title:before {
    color: var(--text-solution) !important;
}

.solution .admonition-title, details.solution > summary {
    color: var(--text-solution) !important;
}


/* Admonition Icons */
details.warning > summary:before, .warning .admonition-title:before {
    content: "\F33A";
}

details.important > summary:before, .important .admonition-title:before,
details.error > summary:before, .error .admonition-title:before,
details.danger > summary:before, .danger .admonition-title:before {
    content: "\F336";
}

details.task > summary:before, .task .admonition-title:before {
    content: "\F4C9";
}

details.hint > summary:before, .hint .admonition-title:before,
details.tip > summary:before, .tip .admonition-title:before,
details.note > summary:before, .note .admonition-title:before {
    content: "\F7F6";
}

details.solution > summary:before, .solution .admonition-title:before {
    content: "\F26A";
}

/* Admonition Collapse Icon */
details > summary {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

details summary:after {
    content: "\F285";
    display: flex;
    font-family: bootstrap-icons;
    margin: 0 0 0 auto;
    text-align: right;
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

details[open] summary:after {
    transform: rotate(90deg) !important;
}

button {
    color: var(--bs-body-color) !important;
}

li > p {
    padding: unset;
    margin: unset;
}