#inner-container {
    align-items: flex-start;
    background: var(--bg-container);
    border-radius: var(--border-radius-lg);
    box-shadow: 0 0.25rem 0.5rem var(--box-shadow-1), 0 0.125rem 0.25rem var(--box-shadow-2);
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    gap: var(--padding-lg);
    padding: var(--padding-lg);
}

#outer-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: var(--padding-lg);
    padding: var(--padding-lg);
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--padding-lg);
}

.column {
    display: flex;
    flex-direction: column;
}

#content {
    width: stretch;
}