body {background-color:#f1f1f1;width:100%;}
.search_base_div{display:flex;justify-content:center;}
.search_div{background-color: #fff;padding:0.5rem;width:95%;margin-top:0.5rem;border-radius:1rem;}
.body_base_div{display:flex;justify-content:center;}
.body_div{background-color: #fff;padding:0.5rem;width:95%;margin-top:0.5rem;border-radius:1rem;}
.filter_base_div{display:flex;justify-content: center;align-items:center;}
.filter_div{width:99%;display:flex;justify-content: space-between;align-items:center}
.table_base_div{display:flex;justify-content:center;margin-top:1rem;}
.table_div{display:flex;flex-direction:column;align-items: center;max-height:calc(100% - 50px);overflow:auto}
.tree_div{display:flex;padding:2px;max-height:600px;overflow:auto}
.ttitle{font-size: 14px}
.el-descriptions__header{margin-bottom: 0;}
.el-dialog__header{padding: 2px; font-size: 12px}
.el-button--mini{height: 28px}
.label{
    font-size: 14px;
    color: #606266;
    line-height: 24px;
    padding: 0 5px;
}
.highlight {
    background-color: #ff0;
    font-weight: bold;
}
@media screen and (max-width: 767px) {
  .el-date-picker, .el-date-range-picker {
    width: 100%;
    max-width: none;
    min-width: 0;
    margin-left: 0;
  }
    .ttitle{display: none}
    .el-dialog{width: 98% !important;margin-top: 1vh!important;}
    .el-form-item__label,.el-dialog__title{font-size: 12px}
    .el-form-item{margin-bottom: 10px;}
    .el-dialog--center .el-dialog__body{padding: 10px}
}

.el-table .caret-wrapper{
    display: none;
    height: 19px;
}
th>.cell:hover .caret-wrapper{
    display: inline-flex ;
}
.el-pagination {overflow: auto}
.el-table--mini .el-table__cell{padding: 2px 0}
.el-upload, .el-button+.el-button{margin-left: 3px}
.el-dialog__headerbtn{top:10px}
.el-alert .el-alert__description{font-size: 14px;color:blue}
.el-checkbox-group{font-size: 18px;display: inline-block}
.el-row:hover .el-input__inner{background: #f5f2f2;}
.btt{height:auto!important;max-height: 90%}
.smt{background:white}

.panel {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
.panel-header {
    background: #f0f2f5;
    padding: 5px 5px;
    border-bottom: 1px solid #ebeef5;
}
.panel-header h2 {
    font-size: 14px;
    color: #303133;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel-body {
    padding: 3px;
}

.btn-add-row {
    margin: 15px 0;
    width: 100%;
}

.delete-btn {
    color: #f56c6c;
}

.line-input .el-input__inner {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 !important;
  background: transparent !important;
}
.el-input.is-disabled .el-input__inner{
  color: #5b7fc7;
}