.table{width: 100%;border-collapse: collapse;font-size: 1rem;}
.table th, .table td {padding: 5px 8px;border-bottom: 1px solid #e0e0e0;}
.table tbody tr:hover {background: rgba(52, 152, 219, 0.08);}
.center {display: flex; align-items: center; justify-content: center;}
* {margin: 0;padding: 0;}
html,body{
    height:100%;
    width:100%;
    font-size:12px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.67rem; }
.smtdrag {
    position: absolute;
    height: 12rem;
    width: 20rem;
    top:2rem;
    left:2rem;
    z-index: 10;
}
.smtlisthead{height: 3rem;display: flex; justify-content: space-between; background: #4a86e8; color: #fff2cc; font-size:1.1rem}
.smtlistnav{height:calc(100% - 3rem); }
.smtlistnav ul li{display: flex; align-items: center;}
.smtlisthead span,.smtlistnav li span{width: 100%; align-items: center; justify-content: center; display: flex;height: 3rem;}
.smtlistnav ul li span{ font-size: 1rem;}
.smtlistnav ul li:nth-child(odd){ background: rgba(100,100,100,.1);}

.smtbox:before,
.smtbox:after{ position:absolute; width: 1rem; height: 1rem; content: "";  border-top: 3px solid #3486da; top: -2px;}
.smtbox:before,.smtfoot:before{border-left: 3px solid #3486da;left:-2px;}
.smtbox:after,.smtfoot:after{border-right: 3px solid #3486da; right: -2px;}

.smtfoot{ position:absolute; bottom: 0; width: 100%; left:0;}
.smtfoot:before,
.smtfoot:after{ position:absolute; width: 1rem; height: 1rem;  content: "";border-bottom:3px solid #3486da; bottom:-2px;}


.smttitle{ font-size:1.1rem; line-height: 2rem; position: relative;padding-left: 1.2rem}
.smttitle:before{position: absolute; height: 1.5rem; width: 4px; background: #49bcf7; border-radius: 5px; content: ""; left: 0.1rem;  top: 50%; margin-top: -1rem;}