span.heimu a.external,
span.heimu a.external:visited,
span.heimu a.extiw,
span.heimu a.extiw:visited {
  color: #252525;
}
.heimu,
.heimu a,
a .heimu,
.heimu a.new {
  background-color: #cccccc;
  text-shadow: none;
}
.tabber-container-infobox ul.tabbernav {
  display: none;
}
.tabber-container-infobox .tabber .tabbertab {
  display: unset !important;
}

.webrender-selected-element {
  padding: 15px;
}
