html,
body {
    background-color: var(--bg-body) !important;
}

pre, code {
    font-family: "Ubuntu Mono", sans-serif;
    color: var(--text-color);
}

body.ubuntu {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body.comic-sans {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}