# Global configuration (same for all environments, complementary to the the env files)
[generic]
publication_date = 22.10.2025
sindit_version = 2.0.8

[frontend]

[backend]

[api]
api_version = 1.0.4
