LocalInstallation
{
  VirtualOrganization = vo.cta.in2p3.fr
  SiteName = CTADIRAC.disp-vm1.zeuthen.desy.de
  Setup = CTADIRAC-cert
  InstanceName = CTADIRAC-cert
  SkipCADownload = True
  UseServerCertificate = True
  ConfigurationName = CTADIRAC-cert
  AdminUserName = npigoux
  AdminUserDN = /O=GRID-FR/C=FR/O=CNRS/OU=LUPM/CN=Natthan Pigoux
  AdminUserEmail = natthan.pigoux@lupm.in2p3.fr
  AdminGroupName = dirac_admin
  HostDN = /DC=org/DC=terena/DC=tcs/C=DE/ST=Hamburg/O=Deutsches Elektronen-Synchrotron DESY/CN=disp-vm1.zeuthen.desy.de
  ConfigurationMaster = yes
  #Set primary server url:
  Host = disp-vm1.zeuthen.desy.de

  #The following options define components to be installed
  Services = Configuration/Server
  Services += Framework/SystemAdministrator
  Services += Framework/BundleDelivery
  Services += Framework/ProxyManager

  #List of DataBases to be installed (what's here is a list for a basic installation)
  Databases = InstalledComponentsDB
  Databases += ResourceStatusDB
  Databases += ProxyDB

  Registry
  {
    DefaultGroup = dirac_user
    ProxyCheckingPeriod = 1200
    Users
    {
      npigoux
      {
        DN = /O=GRID-FR/C=FR/O=CNRS/OU=LUPM/CN=Natthan Pigoux
        Email = natthan.pigoux@lupm.in2p3.fr
      }
    }
    Groups
    {
      dirac_user
      {
        Users = npigoux
        Properties = NormalUser
      }
      dirac_admin
      {
        Users = npigoux
        Properties = AlarmsManagement
        Properties += ServiceAdministrator
        Properties += CSAdministrator
        Properties += JobAdministrator
        Properties += FullDelegation
        Properties += ProxyManagement
        Properties += Operator
      }
    }
    Hosts
    {
      disp-vm1.zeuthen.desy.de
      {
        DN = /DC=org/DC=terena/DC=tcs/C=DE/ST=Hamburg/O=Deutsches Elektronen-Synchrotron DESY/CN=disp-vm1.zeuthen.desy.de
        Properties = TrustedHost
        Properties += CSAdministrator
        Properties += JobAdministrator
        Properties += FullDelegation
        Properties += ProxyManagement
        Properties += Operator
      }
    }
  }
  Database
  {
    User = Dirac
    Password = *****
    RootPwd = *****
    Host = 127.0.0.1
    Port = 3306
  }
}
