# Mission Name
Mission: JUICE JSGS

# MTP and CP ranges
Planning_periods: 1-November-2029_00:00:00 28_00:00:00 4

# Resolve Events
Resolve_to_event: PERIOD_CENTER

# Power_algorithm model
Power_algorithm:  JUICE_SIMPLIFIED_MODEL

# Define downlink resources
# Resource: DOWNLINK_RATE MODE HGA ON  0.0 [bits/sec]   "BRF_MAL_SGICD_2_1_300101_351005.brf" 3
Resource: DOWNLINK_RATE MODE XB_LINK  DUMP_HGA     0.0 [bits/sec] "BRF_MAL_SGICD_2_1_300101_351005.brf" 1
Resource: DOWNLINK_RATE MODE XB_LINK  DUMP_MGA     0.0 [bits/sec] "BRF_MAL_SGICD_2_1_300101_351005.brf" 2
Resource: DOWNLINK_RATE MODE KAB_LINK DUMP_20_HGA  0.0 [bits/sec] "BRF_MAL_SGICD_2_1_300101_351005.brf" 3
Resource: DOWNLINK_RATE MODE KAB_LINK DUMP_20_MGA  0.0 [bits/sec] "BRF_MAL_SGICD_2_1_300101_351005.brf" 5
Resource: DOWNLINK_RATE MODE KAB_LINK DUMP_50_HGA  0.0 [bits/sec] "BRF_MAL_SGICD_2_1_300101_351005.brf" 4
Resource: DOWNLINK_RATE MODE KAB_LINK DUMP_50_MGA  0.0 [bits/sec] "BRF_MAL_SGICD_2_1_300101_351005.brf" 6


# ---------------------------------
# Simplified Power Model constants

Power_model: BATTERY_CAPACITY                 4946  # Assuming worst case, TOTAL CAPACITY: 6390,  EOC3 (80%) & EOL+ (-22.4%), From Table 2-7 of "SIMPLIFIED MODEL OF JUICE EPS – DESCRIPTION MANUAL"
Power_model: BATTERY_DOD_SOFT_LIMIT             70
Power_model: BATTERY_DOD_HARD_LIMIT             80
Power_model: BATTERY_CHARGE_EFF              0.958  # From Table 2-4 Model constants of "SIMPLIFIED MODEL OF JUICE EPS – DESCRIPTION MANUAL"
Power_model: BATTERY_CHARGE_AUXLOSSES         7.95  # From Table 2-4 Model constants of "SIMPLIFIED MODEL OF JUICE EPS – DESCRIPTION MANUAL"
Power_model: BATTERY_DISCHARGE_EFF           0.930  # Assuming worst case, BDR_1: 0.956; BDR_2: 0.930; From Table 2-4 Model constants of "SIMPLIFIED MODEL OF JUICE EPS – DESCRIPTION MANUAL"
Power_model: BATTERY_DISCHARGE_AUXLOSSES      7.95  # From Table 2-4 Model constants of "SIMPLIFIED MODEL OF JUICE EPS – DESCRIPTION MANUAL"
Power_model: BATTERY_MAX_CHARGE_POWER          250  # +++ Dummy value, MUST BE DEFINED
Power_model: BATTERY_MAX_DISCHARGE_POWER       300  # +++ Dummy value, MUST BE DEFINED
Power_model: SA_CELL_AREA                 0.003018  # From CDR model -> Solar array cell area (m^2)
Power_model: SA_EFFICIENCY                   0.837  # From CDR model -> Loss factor
Power_model: SA_AUXLOSSES                     26.0  # From CDR model -> Solar array and harness power loss (Watts)
Power_model: SA_MAXPOWER                      9999  # +++ Dummy value, MUST BE DEFINED
Resource: PM_SA_CELL_COUNT                   23560  "phs_com_res_sa_cells_count.asc"  # From CDR model -> Number of solar array cells
Resource: PM_SA_CELL_EFFICIENCY               0.34  "RES_C50_SA_CELLS_EFFICIENCY_310101_351003.csv"      # From CDR model -> Cell efficiency

# ---------------------------------

# -----------------
# Resources Report

#Resources_report: POWER_TOTAL  "PW_Platform" (JUICE,KAB_LINK,XB_LINK)
#Resources_report: POWER_TOTAL  "PW_Payload"  (3GM,GALA,JANUS,JMAG,MAJIS,PEP,RIME,RPWI,SWI,UVS)
#Resources_report: POWER_TOTAL  "PW_InSitu"   (JMAG,PEP,RPWI)
#Resources_report: POWER_TOTAL  "PW_Remote"   (MAJIS,JANUS,SWI,UVS)
#Resources_report: POWER_TOTAL  "PW_Geo"      (3GM,GALA,RIME)

#Resources_report: POWER_AVAILABLE "PW_Payload_Avail"  (JUICE, KAB_LINK, XB_LINK)
#Resources_report: POWER_AVAILABLE "PW_Platform_Avail" (3GM,GALA,JANUS,JMAG,MAJIS,PEP,RIME,RPWI,SWI,UVS)

# -----------------

# Output_format: DATA_RATE    ALL     Kbits/sec   FP  16 8
# Output_format: MEMORY       ALL     Gbits       FP  16 8
Output_format: DATA_RATE    ALL     Kbits/sec   FP 16 8
Output_format: MEMORY       ALL     Gbits       FP 16 8

Output_files: ALL
# Output_files: POWER_AVG \
#              DATA_RATE_AVG \
#              CONFLICTS \
#              MODES \
#              MODULE_STATES \
#              DS_TRANSFERS \
#              TIMELINE \
#              DS_LATENCY \
#              FINAL_STATES

# Make all SEQUENCE actions global
Setting: SEQUENCE_IS_GLOBAL  TRUE

# Using non-MIB qualified labels0
Setting: CHECK_GLOBAL_ACTION FALSE
Setting: CHECK_GLOBAL_PARAM  FALSE
Setting: CHECK_GLOBAL_UNIT   FALSE
Setting: CHECK_GLOBAL_LIST   FALSE

# Activate latency computation
Setting: COMPUTE_DS_LATENCY  TRUE
latency_method: ALL_DATA

# Setting: LATENCY_WRITE_MINUS TRUE

# Latency End-of-Pass (EoP) event
Latency_EoP_event: DWL_END

# Enable printing available resources
Setting: OUTPUT_AVAIL_RESOURCES TRUE

# Disable default flow check
Setting: TO_SSMM_NO_DEF_FLOW TRUE

# EPS Output format is set to the default one (ASCII Table); CSV format is mainly used for EPS simulation
Setting: OUTPUT_CSV_FORMAT TRUE

#Output_alignment: <ITL|OUT> <experiment column> <mode column> <action column>
Output_alignment: ITL  40 50 60

# Z-record generation
Generate_profile: PIOR POWER     ALL COMPUTE
Generate_profile: PIOR DATA_RATE ALL COMPUTE
Generate_profile: PIOR MODES     ALL COMPUTE
Generate_profile: PORG POWER     ALL COMPUTE
Generate_profile: PORG DATA_RATE ALL COMPUTE
Generate_profile: EXEC DATA_RATE ALL COMPUTE
Generate_profile: EXEC POWER     ALL COMPUTE

# Path for EDF files
# Data_path: EDF_DATA "../../INPUTS/EXPERIMENTS"
