:root {
    --default-color: dark green;
    --my-var: dark red;
}

edit {
    color: var(--default-color);
}

.all-red {
    color: light red;
    background: dark red;
}

.blue {
    color: light blue;
}

.dark-blue {
    color: dark blue;
}

#root {
    color: black;
    background: var(--my-var);
    background-adv: #515151;
}

linebox {
    color: white;
    background: black;
}

/*text {
    color: white;
    background: dark red;
}*/

.custom {
    color: light green;
    background: dark gray;
}

.dark {
    color: black;
    background: white;
}

#light {
    color: white;
    background: black;
}

#padded {
    color: white;
    background: black;
}

.flow {
    color: white;
    background: dark blue;
}

button {
    color: yellow;
}

button:focus {
    color: light red;
    color-adv: #ff88dd;
}

scrollbar,
/*text:focus:hover,*/
#texthover {
    color: light blue;
    color-adv: #00eeff;
}

.custom-class {
    color: light blue;
}

.custom-class-bg {
    background: dark red;
}

.custom-class:focus {
    color-adv: #0088dd;
    background-adv: #000a2b;
}

scrollbar:focus {
    color: black;
    color-adv: #222;
}

text.my_class {
    color: green;
}

#id:focus {
    color: light blue;
}

.col1 {
    background: dark blue;
}

.col2 {
    color: black;
    background: brown;
}

.inverted {
    color: black;
    background: white;
}
