/* STUFF */
/* width */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* CLASSES */
.content {
    color: #ffffff;
    height: 100% !important;
    width: 100% !important;
}

.content-header {
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.nav-bar {
    color: #ffffff;
    background-color: red;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.left-drawer {
    text-align: left !important;
}

.drawer-button {
    width: 100%;
    border: none !important;
    box-shadow: transparent !important;
    color: inherit !important;
    font-size: inherit;
    cursor: pointer;
    outline: none !important;
    border-radius: 10px !important;
    background-color: rgb(70, 70, 70) !important;
    align-items: start !important;
    height: 50px !important;
}

.drawer-button-primary {
    background-color: rgba(15, 255, 175, 0.726) !important;
    height: 70px !important;
}

.close-button {
    background-color: transparent !important;
    border: none !important;
    border-radius: 50%;
    box-shadow: none !important;
    text-shadow: transparent !important;
    color: white !important;
    font-size: 12px !important;
    /* Adjust icon size */
    padding: 8px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    outline: transparent !important;
}

.create-server-popup {
    /* height: 80%; */
    width: min-content;
    width: 40%;
    border-radius: 10px !important;
}

.server-card {
    width: 49%;
    height: fit-content;
    border-radius: 10px !important;
}
.server-card-link {
    text-decoration: none;
    font-size: 25px;
    color: inherit;
}

.content-empty-state {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    font-size: 15px;
    height: 80vh;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin-top: 30vh !important;
}

.center-text-horizontal {
    text-align: center !important;
    align-items: center !important;
    margin-left: 35% !important;
}

.start-button {
    border-radius: 10px 0px 0px 10px !important;
}

.stop-button {
    border-radius: 0px 10px 10px 0px !important;
    background-color: rgb(216, 68, 68) !important;
    width: 10px;
    height: 10px;
}

.create-server-input {
    width: 48%;
}

.refresh-button {
    background-color: transparent !important;
    border: none !important;
    border-radius: 50%;
    box-shadow: none !important;
    text-shadow: transparent !important;
    color: white !important;
    font-size: 12px !important;
    /* Adjust icon size */
    padding: 8px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    outline: transparent !important;
    margin-top: 15px !important;
}

.normal-secondary-button {
    background-color: rgb(70, 70, 70) !important;
    width: 30%;
    border-radius: 10px !important;
}

.normal-primary-button {
    background-color: rgba(15, 255, 175, 0.726) !important;
    width: 65%;
    border-radius: 10px !important;
}

.back-button {
    background-color: transparent !important;
    border: none !important;
    border-radius: 50%;
    box-shadow: none !important;
    text-shadow: transparent !important;
    color: white !important;
    font-size: 12px !important;
    /* Adjust icon size */
    padding: 8px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    outline: transparent !important;
    margin-top: 15px !important;
}

.log-window {
    width: 100% !important;
    height: 580px !important;
    border-radius: 10px;
}

.console-input {
    width: 100% !important;
}

.delete-server-popup {
    height: min-content;
    width: 40%;
    border-radius: 10px !important;
}

.properties-editor {
    width: 100% !important;
    height: 80% !important;
}

.stat-grid {
    width: 100% !important;
}

.stat-chip {
    background-color: transparent !important;
    border-radius: 10px !important;
    overflow: show !important;
    width: auto !important;
    text-align: right !important;
    opacity: 0.6 !important;
}

.circular-button {
    background-color: transparent !important;
    border: none !important;
    border-radius: 50%;
    box-shadow: none !important;
    text-shadow: transparent !important;
    color: white !important;
    font-size: 12px !important;
    /* Adjust icon size */
    padding: 8px !important;
    justify-content: center !important;
    align-items: center !important;
    outline: transparent !important;
    margin-top: 15px !important;
}

.minimize-button {
    background-color: transparent !important;
    border: none !important;
    border-radius: 50%;
    box-shadow: none !important;
    text-shadow: transparent !important;
    color: white !important;
    font-size: 12px !important;
    /* Adjust icon size */
    padding: 8px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    top: 10px !important;
    right: 50px !important;
    outline: transparent !important;
}