LocalInstallation
{
  VirtualOrganization = vo.cta.in2p3.fr
  SiteName = <Site_name>
  Setup = <Setup_name>
  InstanceName = Certification
  SkipCADownload = True
  UseServerCertificate = True
  ConfigurationName = Dirac-CTA-test
  AdminUserName = npigoux
  AdminUserDN = /O=GRID-FR/C=FR/O=CNRS/OU=LUPM/CN=Natthan Pigoux
  AdminUserEmail = natthan.pigoux@in2p3.fr
  AdminGroupName = dirac_admin
  HostDN = <DN>
  ConfigurationMaster = yes
  #Set primary server url:
  Host = <host>

  #The following options define components to be installed
  Services = Configuration/Server
  Services += Framework/ComponentMonitoring
  Services += Framework/BundleDelivery
  Services += Framework/SystemAdministrator
  Services += Framework/ProxyManager

  #Services += StorageManagement/StorageManager

  #List of DataBases to be installed (what's here is a list for a basic installation)
  Databases = InstalledComponentsDB
  Databases += ProxyDB

  Registry
  {
    DefaultGroup = dirac_user
    ProxyCheckingPeriod = 1200
    Users
    {
      npigoux
      {
        DN = /O=GRID-FR/C=FR/O=CNRS/OU=LUPM/CN=Natthan Pigoux
        Email = natthan.pigoux@lupm.in2p3.fr
      }
    }
    Groups
    {
      dirac_user
      {
        Users = npigoux
        Properties = NormalUser
      }
      dirac_admin
      {
        Users = npigoux
        Properties = AlarmsManagement
        Properties += ServiceAdministrator
        Properties += CSAdministrator
        Properties += JobAdministrator
        Properties += FullDelegation
        Properties += ProxyManagement
        Properties += Operator
      }
    }
    Hosts
    {
      localhost
      {
        DN = <DN>
        Properties = TrustedHost
        Properties += CSAdministrator
        Properties += JobAdministrator
        Properties += FullDelegation
        Properties += ProxyManagement
        Properties += Operator
      }
    }
  }
  Database
  {
    User = Dirac
    Password =
    RootPwd =
    Host = localhost
    Port = 3306
  }
}
DIRAC
{
  Setup = <Setup_name>
  VirtualOrganization = vo.cta.in2p3.fr
  Hostname = <hostname>
  Security
  {
  }
  Setups
  {
    <Setup_name>
    {
      Configuration = Certification
      Framework = Certification
      ResourceStatus = Certification
      RequestManagement = Certification
      StorageManagement = Certification
      Tornado = Certification
    }
  }
  Configuration
  {
    Master = yes
    Name = Dirac-CTA-cert
    Servers = dips://<hostname>:9135/Configuration/Server
  }
}
Systems
{
  Databases
  {
    User = Dirac
    Password =
    Host = 127.0.0.1
    Port = 3306
  }
  NoSQLDatabases
  {
    Host = 127.0.0.1
    Port = 9200
  }
  Tornado
  {
    Certification
    {
      Port = 8443
    }
  }
}
